<div *ngIf="data">
  <label>
    <input type="checkbox" [(ngModel)]="data.visible" (change)="setAllSceneElementsVisibility(data.visible)"
           class="filled-in checkbox-blue"/>
    <span>{{ data.name }}</span>
  </label>

  <!-- Branches -->
  <div *ngFor="let b of data.branches" class="element-branch">
    <app-branch [sceneId]="sceneId" [data]="b" (selectedElementEvent)="setSelectedElement($event)"></app-branch>
  </div>

  <!-- Components -->
  <div *ngIf="groupedTypes.size > 0">
    <div class="element-branch" *ngFor="let item of groupedTypes | keyvalue">
      <app-entry [elementType]="item.key" [elements]="item.value" (selectedElementEvent)="setSelectedElement($event)"></app-entry>
    </div>
  </div>


</div>

