<div class="sidebar">
<div class="title-divider" (click)="hidden=!hidden"><span>Scene Settings</span></div>
<div *ngIf="viewer" [hidden]="hidden">
  <div class="row">
    <div class="col s4 description"><label>Scene Id:</label></div>
    <div class="col s8">
      {{ data.sceneId }}
    </div>
  </div>
  <div class="row">
    <div class="col s4 description"><label for="background-color">Select Background Color:</label></div>
    <div class="col s8 ngx-color-picker"><input id="background-color" [(colorPicker)]="backgroundColor"
                                                [style.background]="backgroundColor" (colorPickerChange)="changeBackground()"/>
    </div>
  </div>
  <div class="row">
    <div class="col s4 description"><label>Point Budget ({{ pointBudget | number: '1.0-0': 'en-US' }}):</label></div>
    <div class="col s8">
      <p class="range-field">
        <input type="range" min="{{ pointBudgetOptions.min }}" max="{{ pointBudgetOptions.max }}" step="{{ pointBudgetOptions.step }}"
               [value]="pointBudget" [(ngModel)]="pointBudget" (ngModelChange)="onPointBudgetChange()"/>
      </p>
    </div>
  </div>

  <div class="row">
    <div class="col s4 description"><label>Camera FOV ({{ fov }}):</label></div>
    <div class="col s8">
      <p class="range-field">
        <input type="range" min="{{ fovOptions.min }}" max="{{ fovOptions.max }}" step="{{ fovOptions.step }}"
               [value]="fov" [(ngModel)]="fov" (ngModelChange)="onFovChange()"/>
      </p>
    </div>
  </div>

  <div class="row">
    <div class="col s4 description"><label>Activate Camera Sync:</label></div>
    <div class="col s8">
      <!-- For some reason this doesnt work with ngModel -->
      <input type="checkbox" [checked]="cameraSync" class="filled-in checkbox-blue"/>
      <span (click)="onCameraSync()">Toggle</span>
    </div>
  </div>

  <div class="row">
    <div class="col s4 description"><label>Start Animation:</label></div>
    <div class="col s8">
      <button (click)="onStartAnimation()" class="waves-effect btn-small">Start Animation</button>
    </div>
  </div>

  <div class="row">
    <div class="col s4 description"><label>Share Camera State:</label></div>
    <div class="col s8">
      <button (click)="onShareCameraState()" class="waves-effect btn-small">Copy to Clipboard</button>
    </div>
  </div>

  <div class="row">
    <div class="col s4 description"><label>Save Screenshot (gets saved on server):</label></div>
    <div class="col s8">
      <button (click)="onCreateScreenshot()" class="waves-effect btn-small">Screenshot</button>
    </div>
  </div>

<!--  <div class="row">-->
<!--    <div class="col s4 description"><label>(Picker Test:)</label></div>-->
<!--    <div class="col s8">-->
<!--      <button (click)="pickerTest()">Picker</button>-->
<!--    </div>-->
<!--  </div>-->
</div>
</div>
