.element-list {
  margin-left: 30px;
}

.element-list > ul {
  margin: 0;
}

.single-element {
  padding: 3px;
  display: flex;
  flex-direction: row;
}

.single-element:hover {
  background-color: var(--color-black);
}

.highlight {
  background-color: var(--color-black);
}
