.element-list {
  margin-left: 40px;
}

.element-list > ul {
  margin: 0;
}

.checkbox-blue[type="checkbox"].filled-in:checked + span:not(.lever)::after {
  border: 2px solid var(--color-secondary-1-1);
  background-color: var(--color-secondary-1-1);
}

.single-element {
  padding: 5px;
}
.single-element:hover {
  background-color: var(--color-black);
}
