<div class="title-divider"><span>Scene Settings</span></div>
<div *ngIf="viewer">
  <div class="row">
    <div class="col s4 description"><label for="background-color">Scene Id:</label></div>
    <div class="col s8">
      {{ sceneId }}
    </div>
  </div>
  <div class="row">
    <div class="col s4 description"><label for="background-color">Select Background Color:</label></div>
    <div class="col s8"><input id="background-color" [(colorPicker)]="backgroundColor"
                               [style.background]="backgroundColor" (colorPickerChange)="changeBackground()"/>
    </div>
  </div>
  <div class="row">
    <div class="col s4 description"><label>Point Budget ({{ pointBudget }}):</label></div>
    <div class="col s8">
      <p class="range-field">
        <input type="range" min="{{ pointBudgetOptions.min }}" max="{{ pointBudgetOptions.max }}" step="{{ pointBudgetOptions.step }}"
               [value]="pointBudget" [(ngModel)]="pointBudget" (ngModelChange)="onPointBudgetChange()"/>
      </p>
    </div>
  </div>
  <div class="row">
    <div class="col s4 description"><label>Camera FOV ({{ fov }}):</label></div>
    <div class="col s8">
      <p class="range-field">
        <input type="range" min="{{ fovOptions.min }}" max="{{ fovOptions.max }}" step="{{ fovOptions.step }}"
               [value]="fov" [(ngModel)]="fov" (ngModelChange)="onFovChange()"/>
      </p>
    </div>
  </div>
  <div class="row">
    <div class="col s4 description"><label>(Picker Test:)</label></div>
    <div class="col s8">
      <button (click)="pickerTest()">PC picker</button>
    </div>
  </div>
</div>
<div>
  <app-loading [active]="!viewer"></app-loading>
</div>
