<div *ngFor="let child of children;">
  <div [ngSwitch]="parseToEnum(child.component)">
    <app-col *ngSwitchCase="comp.COL" [children]="child.children" [data]="child.data"></app-col>
    <app-row *ngSwitchCase="comp.ROW" [children]="child.children" [data]="child.data"></app-row>

    <app-pc-viewer *ngSwitchCase="comp.VIEWER" [data]="child.data"></app-pc-viewer>

    <app-pc-settings *ngSwitchCase="comp.ELEMENT_SETTINGS" [data]="child.data"></app-pc-settings>

    <app-general-settings *ngSwitchCase="comp.GENERAL_SETTINGS" [data]="child.data"></app-general-settings>

    <app-element-tree *ngSwitchCase="comp.ELEMENT_TREE" [data]="child.data"></app-element-tree>

    <div *ngSwitchCase="comp.BUTTON">
      <button style="{{ child.data.color }}">{{ child.data.id }}</button>
    </div>
  </div>
</div>
