<div *ngIf="pco">
  <h5>{{ pco.name }}</h5>
  <!-- https://www.npmjs.com/package/ngx-color-picker -->
  <div class="row pc-color-picker">
    <div class="col s4 description"><label for="pc-color-picker-{{ pco.name }}"> Select Color:</label></div>
    <div class="col s8"><input id="pc-color-picker-{{ pco.name }}" [(colorPicker)]="settings.color"
                               [style.background]="settings.color"
                               (colorPickerChange)="setColor()"/></div>
  </div>
  <div class="row">
    <div class="col s4 description"><label>Reset Color:</label></div>
    <div class="col s8">
      <button (click)="resetColor()" class="waves-effect btn-flat btn-small"><i class="material-icons">add</i></button>
    </div>
  </div>
  <div class="row">
    <div class="col s4 description"><label>Point Size:</label></div>
    <div class="col s8"><p class="range-field">
      <input type="range" min="{{options.min}}" max="{{options.max}}" [value]="settings.pointSize"
             [(ngModel)]="settings.pointSize" (ngModelChange)="setPointSize()"/>
    </p></div>
  </div>
  <hr>
</div>
<div>
  <app-loading [active]="pco===undefined"></app-loading>
</div>
