<div *ngIf="data">

  <div *ngIf="data.ids.length > 0" class="single-element" (click)="setSelectedElement(data.sceneElements)">
    <label>
      <input type="checkbox" [(ngModel)]="data.visible"
             (change)="setSceneElementsVisibility(data.sceneElements, data.visible)"
             class="filled-in checkbox-blue"/>
      <span></span>
    </label>
    <span>{{ data.name }}</span>
  </div>



  <div *ngIf="data.groups.length > 0" style="padding-left: 6px">
    <label>
      <input type="checkbox" [(ngModel)]="data.visible"
             (change)="setGroupVisibility([data], data.visible)"
             class="filled-in checkbox-blue"/>
      <span>{{ data.name }}</span>
    </label>
    <div *ngFor="let group of data.groups" class="element-group">
      <app-group [sceneId]="sceneId"
                 [data]="group"
                 (selectedElementEvent)="setSelectedElement($event)"></app-group>
    </div>
  </div>

</div>

