.description label {
  font-size: 1rem;
}

.ngx-color-picker input {
  height: 1.5rem;
  border-bottom: none;
}

.btn-small {
  margin-right: 5px;
}

/* Range slider styling */

.range-field {
  margin: 2px;
}

input[type="range"] {
  border: none;
  margin: 0;
}

input[type=range]::-webkit-slider-thumb {
  background-color: var(--color-secondary-1-1);
}

input[type=range]::-moz-range-thumb {
  background-color: var(--color-secondary-1-1);
}

input[type=range]::-ms-thumb {
  background-color: var(--color-secondary-1-1);
}

.checkbox-blue-grey[type="checkbox"].filled-in:checked + span:not(.lever):after {
  border: 2px solid var(--color-secondary-1-1);
  background-color: var(--color-secondary-1-1);
}
