
<!-- https://www.npmjs.com/package/ngx-color-picker -->
Select Color: <input [(colorPicker)]="settings.color" [style.background]="settings.color" (colorPickerChange)="setColor()"/>
<br>
<button (click)="resetColor()">Reset Color</button>
<br>
<div style="margin-top: 5px;">
  <!-- https://www.npmjs.com/package/@angular-slider/ngx-slider -->
  Point Size: <ngx-slider [(value)]="settings.pointSize" [options]="options" (valueChange)="setPointSize()"></ngx-slider>
</div>
<br>

<label>
  <input type="checkbox" [(ngModel)]="settings.isVisible" (click)="setVisibility()" class="filled-in"/>
  <span>Show PointCloud</span>
</label>
<hr>
