<div class="title-divider"><span>Element Tree</span></div>
<div *ngIf="tree">
  <div *ngFor="let item of tree | keyvalue">
    <div class="potree-point-clouds element-tree-element">
      <app-entry [title]="item.key" [elements]="item.value"
                 (selectedElementEvent)="setSelectedElement($event)"></app-entry>
    </div>
  </div>
  <!-- Settings per element -->
  <div *ngIf="elementData" [ngSwitch]="parseToEnum(elementData.elementType)">
    <app-pco-settings *ngSwitchCase="elem.POTREE_POINT_CLOUD" [data]="elementData"></app-pco-settings>
    <app-camera-trajectory-settings *ngSwitchCase="elem.CAMERA_TRAJECTORY" [data]="elementData"></app-camera-trajectory-settings>
    <app-default-pc-settings *ngSwitchCase="elem.DEFAULT_POINT_CLOUD" [data]="elementData"></app-default-pc-settings>
    <div *ngSwitchDefault style="color:red;">No settings found for {{ parseToEnum(elementData.elementType) }}</div>
  </div>

</div>
